<div class="alert alert-dismissable alert-info" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <div class="alert-content">
  	<span class="icon-next">
    	<i class="alert-icon fa fa-check-circle"></i>
    </span>
    <div class="errors-list-content">
	    <h3> <%= result["title"].html_safe %> </h3>
	    <p> <%= result["message"].html_safe %> </p>
    </div>
  </div>
</div>