<div id="new-cgt-course-modal" >
  <%= form_with(model: @cgt_course, url: cgt_course_program_courses_admin_path, local: true, multipart: true, html: { id: "new-cgt-course-form" }) do |form| %>
    <div class="modal-content" data-context>
      <div class="modal-header">
        <h4 class="modal-title">Crear Curso CGT</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
      <div>
        <%= render 'error_message', error: @error_cgt_hash if @error_cgt_hash.present? %>
      </div>
      <div class="modal-body">
        <div class="main-content">
          <div class="form-group row">
            <div class="col-sm-6">
              <%= form.label :catalog_code, {class: "control-label"} %>
              <%= form.text_field :catalog_code, {class: "form-control", required: true, maxlength: 10} %>
            </div>
            <div class="col-sm-6">
              <%= form.label :name, {class: "control-label"} %>
              <%= form.text_field :name, {class: "form-control", required: true} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <%= form.label :weekly_hours, {class: "control-label", required: true} %>
              <%= form.number_field :weekly_hours, {class: "form-control", required: true, maxlength: 2, min: 1, max:99} %>
            </div>
            <div class="col-sm-6">
              <%= form.label :credits, {class: "control-label"} %>
              <%= form.number_field :credits, {class: "form-control", required: true, maxlength: 2, min: 1, max:99} %>
            </div>
          </div>
          <div class="form-group">
            <%= form.label :coordinator_id, {class: "control-label", required: true} %>
            <%= form.select :coordinator_id,User.active.with_role(ROLE_CREATOR.to_sym).map { |user| [user.name, user.id]}, {class: "form-control", required: true} %>
          </div>
          <div class="form-group">
            <%= form.label :supervisor_id, {class: "control-label"} %>
            <%= form.select :supervisor_id,User.active.with_role(ROLE_APPROVER.to_sym).map { |user| [user.name, user.id]}, {class: "form-control", required: true} %>
          </div>
          <%= form.hidden_field :course_id, id: 'course-field' %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="custom-cgt-form-loading-spinner">
          <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
          </div>
        </div>
       
        <%= submit_tag "Crear curso", data: {disable_with: "Cargando... " }, id: 'create-cgt-course-button', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".modal.fade.in").removeAttr("tabindex");
    $("#blended_coordinator_id").select2({theme: 'bootstrap'});
    $("#blended_supervisor_id").select2({theme: 'bootstrap'});
    
    $(".custom-cgt-form-loading-spinner").hide();
    $("#upload-courses-form").on("submit", function(){
      $(".custom-loading-spinner").show();
    });//submit
  });//document ready
</script>
