
<% content_for(:title, "Listado de cursos") %>

<% toolbar(:primary) do |t| %>
  <button type="button" class="btn btn-primary btn-fill pull-right" style="margin-right: 5px;" data-toggle="modal" data-target="#upload-courses-modal">
    <i class="far fa-file-excel" aria-hidden="true"></i> Importar Cursos
  </button>
<% end %>
<%=  render 'show_modal' %>
<div>
  <%= render 'success_import_message', result: flash[:result_hash] if flash[:result_hash].present? %>
</div>
<div>
  <%= render 'error_message', error: flash[:error_hash] if flash[:error_hash].present? %>
</div>

<% content_for(:utilities) do %>
  <%= render "scopes" if admin.scopes.any? %>
<% end if admin.scopes.any? %>

<%= render layout: "layout" do %>
  <header class="main-content-header">
    <div class="searchbox">
      <%= form_tag "/program_courses", method: :get do %>
        <%= hidden_field_tag :scope, params[:scope] %>
        <div class="input-group">
          <span class="input-group-text"><icon class="fa fa-search"></icon></span>
          <%= link_to icon("fa fa-times"), admin.path, class: "clear-search" if params[:q].present? %>
          <%= search_field_tag :q, params[:q], class: "form-control", autocomplete: "off", placeholder: "Ingrese el nombre o código de catálogo" %>
        </div>
      <% end %>
    </div>
  </header>

  <%= render "trestle/table/table", table: admin.table, collection: collection %>

  <footer class="main-content-footer">
    <%= hook("resource.index.footer") %>

    <%= render "trestle/table/pagination", collection: collection, entry_name: admin.model_name %>
  </footer>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $(".custom-loading-spinner").hide();
    $("#upload-courses-form").on("submit", function(){
      $(".custom-loading-spinner").show();
    });//submit
    if ("<%=flash[:show_dialog]%>"=="true") {
      const dialog = new Trestle.Dialog({
      modalClass: $(this).data('dialog-class')
      })
      dialog.load("/program_courses/"+"<%=flash[:in_person_id]%>/cgt_course?cgt_name=<%=flash[:cgt_name]%>&cgt_coordinator=<%=flash[:cgt_coordinator]%>&cgt_supervisor=<%=flash[:cgt_supervisor]%>&cgt_weekly_hours=<%=flash[:cgt_weekly_hours]%>&cgt_credits=<%=flash[:cgt_credits]%>&cgt_catalog_code=<%=flash[:cgt_catalog_code]%>&cgt_error=<%=flash[:cgt_error]%>")
    }
    
  });//document ready
</script>