<%= form_with(model: @program_course, url:program_courses_admin_path(@program_course), local: true) do |form| %>

	<header class="content-header">
	  <div class="content-header-title">
	    <h1>
	      Detalle de curso
	    </h1>
	  </div>
	  <div class="content-header-toolbars">
	    <div class="btn-toolbar primary-toolbar">
	      <button name="button" type="submit" class="btn btn-success"><span class="btn-label">Guardar curso</span></button>
	      
	    </div>
	  </div>
	</header>

	<% if flash[:error] %>
		<div class="alert alert-dismissable alert-danger" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		  
		  <div class="alert-content">
		  	<span class="icon-next">
		    	<i class="alert-icon ion-android-alert"></i>
		    </span>
		    <div class="errors-list-content">
			    <h3> Ocurrió un error al guardar el curso: </h3>
			    <p> <%= flash[:error] %> </p>
		    </div>
		  </div>
		</div>
	<% end %>
	<div>
	  <div>
		  <% if flash[:message] %>
			  <div class="alert alert-dismissable alert-info" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <%= icon %>

				  <div class="alert-content">
				    <% if flash[:message]["title"] %>
				      <h3><%= flash[:message]["title"] %></h3>
				    <% end %>

				    <p><%= flash[:message]["message"] %></p>

				    <%= yield if block_given? %>
				  </div>
				</div>
		  <% end %>
		</div>
	</div>
	<div class="main-content-area">
    <div class="main-content-container">
      <div class="main-content">
			  <div class="form-group">
			    <%= form.label :catalog_code, {class: "control-label"} %>
			    <%= form.text_field :catalog_code, {class: "form-control"} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :name, {class: "control-label"} %>
			    <%= form.text_field :name, {class: "form-control"} %>
			  </div>
			  <div class="form-group">
			    <%= label_tag :modalidad, "Modalidad", {class: "control-label"} %>
			    <p class="form-control-static"> <%=@program_course.human_type%> </p>
			  </div>
			  <div class="form-group">
			    <%= form.label :coordinator_id, {class: "control-label"} %>
			    <%= form.select :coordinator_id,User.active.with_role(ROLE_CREATOR.to_sym).map { |user| [user.name, user.id]}, {class: "form-control"} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :supervisor_id, {class: "control-label"} %>
			    <%= form.select :supervisor_id,User.active.with_role(ROLE_APPROVER.to_sym).map { |user| [user.name, user.id]}, {class: "form-control"} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :weekly_hours, {class: "control-label"} %>
			    <%= form.number_field :weekly_hours, {class: "form-control", min: 1, max:99} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :credits, {class: "control-label"} %>
			    <%= form.number_field :credits, {class: "form-control", min: 1, max:99} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :authorized, {class: "control-label"} %>
			    <%= form.check_box :authorized, {class: "form-control"} %>
			  </div>
			  <div class="form-group">
			  	<%= label_tag :book_ids, "Libros", {class: "control-label"} %>
					<% unless @similar_course.nil? %>
						<p>*Recuerda que al editar los libros de este curso se editarán automáticamente los del curso <b><%=@similar_course.code_type%> <%= @similar_course.name%></b>*</p>
					<%end%>
					<div class="form-group" style="margin-left: 20px">
						<%= label_tag :book_basic_ids, "Básicos", {class: "control-label"} %>
						<p>Puedes agregar un máximo de 3 libros.</p>
				  	<%= select_tag 'book_basic_ids', options_for_select(@book_basic_ids.map { |book| [book.label_for_tag, book.id] }, @book_basic_ids.pluck(:id)), multiple: true, size: 1, class: "form-control" %>
				  </div>
				  <div class="form-group" style="margin-left: 20px">
						<%= label_tag :book_complementary_ids, "Complementarios", {class: "control-label"} %>
						<p>No tiene máximo de libros.</p>
				  	<%= select_tag 'book_complementary_ids', options_for_select(@book_complementary_ids.map { |book| [book.label_for_tag, book.id] }, @book_complementary_ids.pluck(:id)), multiple: true, size: 10, class: "form-control" %>
				  </div>
			  </div>

      </div>
    </div>
  </div>
<%end%>