@for $i from 1 through 70{
    .u-text--mb-#{$i}{
        margin-bottom: $i * 1px;
        
    }
}
@for $i from 1 through 70{
    .u-text--mr-#{$i}{
        margin-right: $i * 1px;
        
    }
}
@for $i from 1 through 70{
    .u-text--ml-#{$i}{
        margin-left: $i * 1px;
        
    }
}
@for $i from 1 through 70{
    .u-text--mt-#{$i}{
        margin-top: $i * 1px;
        
    }
}


/* para margen de espacio de elementos */
.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}
