<table border="1">
      <thead>
        <tr>
          <th>Codigo Catalogo</th>
          <th> Nombre Curso</th>
          <th> Ciclo</th>
          <th>Modalidad</th>
          <th> Elemento</th>
          <th>Abreviatura</th>
          <th>Observación</th>
          <th> Peso</th>
          <th>Semana</th>
        </tr>
      </thead>
        <tbody>
         <% @syllabus_programs.try(:each) do |syllabus_program| %>
          <% syllabus_program.evaluation_system_json["evaluation_system"].try(:each) do |ev_system| %>
            <tr>
              <td> <%= syllabus_program.code_catalog_of_syllabus %> </td>
              <td> <%= syllabus_program.syllabus.course.name.upcase %> </td>
              <td> <%= syllabus_program.syllabus.cycle.name %> </td>
              <td> <%= syllabus_program.modality.name%> </td> 
              <td>
                <%= getPracticeNamebyCode(ev_system["type"], @practices) %>
              </td>
              <td> <%= ev_system["type"].upcase %> </td>
              <td> <%= ev_system["observations"].titleize  if ev_system["observations"].present? %>  </td>
              <td> <%= ev_system["weight"] %> </td>
              <td> <%= show_weeks_for_a_practice(syllabus_program.program_json["units"], ev_system["type"]) %> </td>
            </tr>
          <% end %>
        <% end %>  
        </tbody>
    </table>