<table border="1">
      <thead>
        <tr>
          <th>Codigo Catalogo</th>
          <th> Nombre Curso</th>
          <th> Ciclo</th>
          <th>Modalidad</th>
          <th> Creador </th>
          <th> Creditos </th>
          <th> Horas </th>
          <th> Fundamentación </th>
          <th> Sumilla </th>
          <th> Logro Aprendizaje </th>
          <th> Metodología </th>
          <th> Unidad </th>
          <th> Titulo Unidad</th>
          <th> Logro Específico Aprendizaje</th>
          <th> Semana </th>
          <th> Sesion</th>
          <th> Tema Sesión </th>
          <th> Laboratorio </th>
          <th> Actividad </th>
          <th> Observación</th>
        </tr>
      </thead>
        <tbody>
          <% @syllabus_programs.try(:each) do |syllabus_program| %>
            <% syllabus_program.program_json["units"].try(:each_with_index) do |unit, index_unit| %>
              <% unit["weeks"].try(:each_with_index) do |week, index_week| %>
                <% week["sessions"].try(:each_with_index) do |session, session_index| %>
                  <% session["activities"].try(:each_with_index) do |activity, activity_index|  %>
                    <tr>
                      <td> <%= syllabus_program.syllabus.course.catalog_code %> </td>
                      <td> <%= syllabus_program.syllabus.course.name.upcase %> </td>
                      <td> <%= syllabus_program.syllabus.cycle.name %> </td>
                      <td> <%= syllabus_program.modality.name%> </td>  
                      <td> <%= syllabus_program.coordinator.name %> </td>
                      <td> <%= syllabus_program.syllabus.credits %> </td>
                      <td> <%= syllabus_program.syllabus.weekly_hours %> </td>
                      <td> <%= getTextAreaValueofSyllabus("fundamentación", syllabus_program.syllabus.syllabus_content["texts"]) %> </td>
                      <td> <%= getTextAreaValueofSyllabus("sumilla", syllabus_program.syllabus.syllabus_content["texts"]) %> </td>
                      <td> <%= getTextAreaValueofSyllabus("logro general de aprendizaje", syllabus_program.syllabus.syllabus_content["texts"]) %> </td>
                      <td> <%= getTextAreaValueofSyllabus("metodología", syllabus_program.program_json["texts"]) %> </td>
                      <td> <%= index_unit+1 %> </td>
                      <td><%= unit["title"]%> </td>
                      <td><%= unit["achievement"]%> </td>
                      <td>  <%=  week["number_week"]%> </td>
                      <td> <%= session_index +1 %> </td>
                      <td> <%= session["subject"]%> </td>
                      <td> <%= getLaboratoryName(session["laboratory"], @laboratories)%> </td>
                      <td> <%= getPracticeNamebyCode(activity["type_activity"], @practices) %>  </td>
                      <td> <%= activity["description"] %>  </td>
                    </tr>
                  <% end %>  
                <% end %>  
              <% end %>  
            <% end %>
          <% end %>  
        </tbody>
    </table>