<% if flash[:error_user] %>
	<div class="alert alert-dismissable alert-danger" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	  
	  <div class="alert-content">
	  	<span class="icon-next">
	    	<i class="alert-icon ion-android-alert"></i>
	    </span>
	    <div class="errors-list-content">
		    <h3> Ocurrió un error al guardar el usuario: </h3>
		    <p> <%= flash[:error_user] %> </p>
	    </div>
	  </div>
	</div>
<% end %>
<div>
<% if flash[:message] %>
  <div class="alert alert-dismissable alert-info" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <%= icon %>

	  <div class="alert-content">
	    <% if flash[:message]["title"] %>
	      <h3><%= flash[:message]["title"] %></h3>
	    <% end %>

	    <p><%= flash[:message]["message"] %></p>

	    <%= yield if block_given? %>
	  </div>
	</div>
<% end %>
</div>
<%= form_with(model: user, url: form_url, local: true, id: 'user_creation_form') do |form| %>
	<div class="main-content-area">
    <div class="main-content-container">
      <div class="main-content">
			  <div class="form-group">
			    <%= form.label :name, {class: "control-label",} %>
			    <%= form.text_field :name, {class: "form-control", required:true, autocomplete: "new-user"} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :first_name, {class: "control-label"} %>
			    <%= form.text_field :first_name, {class: "form-control", required:true} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :email, {class: "control-label"} %>
			    <%= form.text_field :email, {class: "form-control", required:true} %>
			  </div>
			  <% if user.new_record? %>
					<div class="form-group">
						<p>
						Contraseña sugerida (Almacénela externamente para compartirla con el usuario): <span id="suggested_password_label"><%= @suggested_password %></span>
						<button class="btn" type="button" id="cp_btn"><i class="fa fa-copy"></i></button>
						</p>
				  </div>
				  <div class="form-group">
				    <%= form.label :password, {class: "control-label"} %>
				    <%= form.password_field :password, {class: "form-control", required:true, autocomplete: "new-password"} %>
				  </div>
				  <div class="form-group">
				    <%= form.label :password_confirmation, {class: "control-label"} %>
				    <%= form.password_field :password_confirmation, {class: "form-control", required:true} %>
				  </div>
				<% end %>
			  <div class="form-group">
			    <%= form.label :code_user, {class: "control-label"} %>
			    <%= form.text_field :code_user, {class: "form-control", required:true} %>
			  </div>
			  <% unless user.new_record? %>
				<div class="form-group">
					<%= form.label :show_modal_sidebar, {class: "control-label"} %>
					<%= form.check_box :show_modal_sidebar, {class: "form-control"} %>
				</div>
			  <% end %>
			  <div class="form-group">
			    <%= form.label :is_approver, {class: "control-label"} %>
			    <%= form.check_box :is_approver, {class: "form-control"} %>
			  </div>
			  <div class="form-group">
			    <%= form.label :is_creator, {class: "control-label"} %>
			    <%= form.check_box :is_creator, {class: "form-control"} %>
			  </div>
      </div>
    </div>
  </div>
<%end%>