
<% content_for(:title, "Listado de usuarios") %>

<% toolbar(:primary) do |t| %>
  <%= t.new if admin.actions.include?(:new) %>
  <button type="button" class="btn btn-primary btn-fill pull-right" style="margin-right: 5px;" data-toggle="modal" data-target="#upload-users-modal">
    <i class="far fa-file-excel" aria-hidden="true"></i> Importar usuarios
  </button>
<% end %>
<%=  render 'show_modal' %>
<div>
  <%= render 'success_import_message', result: flash[:result_hash] if flash[:result_hash].present? %>
</div>
<div>
  <%= render 'error_message', error: flash[:error_hash] if flash[:error_hash].present? %>
</div>

<% content_for(:utilities) do %>
  <%= render "scopes" if admin.scopes.any? %>
<% end if admin.scopes.any? %>

<%= render layout: "layout" do %>
  <header class="main-content-header">
    <div class="searchbox">
      <%= form_tag "/users", method: :get do %>
        <div class="input-group">
          <span class="input-group-text"><icon class="fa fa-search"></icon></span>
          <%= link_to icon("fa fa-times"), admin.path, class: "clear-search" if params[:q].present? %>
          <%= search_field_tag :q, params[:q], class: "form-control", autocomplete: "off", placeholder: "Ingrese el nombre del usuario" %>
        </div>
      <% end %>
    </div>
  </header>

  <%= render "trestle/table/table", table: admin.table, collection: collection %>

  <footer class="main-content-footer">
    <%= hook("resource.index.footer") %>

    <%= render "trestle/table/pagination", collection: collection, entry_name: admin.model_name %>
  </footer>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $(".custom-loading-spinner").hide();
    $("#upload-users-form").on("submit", function(){
      $(".custom-loading-spinner").show();
    });//submit
    
  });//document ready
</script>