<header class="content-header">
  <div class="content-header-title">
    <h1>
      Nuevo usuario
    </h1>
  </div>
  <div class="content-header-toolbars">
    <div class="btn-toolbar primary-toolbar">
      <button name="button" type="submit" class="btn btn-success" form="user_creation_form"><span class="btn-label">Guardar usuario</span></button>
      
    </div>
  </div>
</header>
<%= render 'form', user: @user, form_url: users_admin_index_path %>