<% if flash[:error].present? %>
  <div id="cont_alert" class="container--centered">
    <div id="alert_pundit" class="alert alert-danger" role="alert"  >
      <%= flash[:error] %>  
    </div>
  </div>
<% end  %>

<script>
document.addEventListener("turbolinks:load", function() {
  $("#alert_pundit").fadeTo(1000, 500).slideUp(500, function(){
    $("#cont_alert").remove();
    $("#alert_pundit").slideUp();
});
  
})

</script>