.u-flex--row{
    display: flex;
}
.u-flex--column-mw{
    width: max-content;
}
.u-flex--column-1{
    flex-grow:1;
    flex-basis:0;
}
.u-flex--column-2{
    flex-grow:2;
    flex-basis:0;
}

@for $i from 0 through 150 {
    .u-separation__row--#{$i*1} {
        margin-left: ((-1px * $i)/ 2 );
        margin-right: ((-1px * $i)/ 2 );
    }
    .u-separation__column--#{$i*1} {
        margin-left:( (1px * $i) / 2);
        margin-right:( (1px * $i) / 2);
    }
 }