 <table class="classic  sangria table_colspan" >
    <tr>
      <th>Carrera</th>
      <th>Competencia</th>
      <th>Criterio</th>
      <th>Nivel de Logro</th>
    </tr>
    
    <% competitions.each do |competition| %>
      <tr > 
        <% if course.for_all_career.present? %>
         <td> Todas las carreras </td>
        <% else %>
          <td  > <%= competition.career %>  </td>
        <% end %>
        <td>  <%= competition.competition_description %> </td>
        <td> <%= competition.criterion %>  </td>
        <td> <%= competition.achievement_level %> </td>
      </tr>
    <% end %>  
    
   
</table>
