<div class="bloque">
    <h1>SÍLABO</h1>
    <h1><%= syllabus_program.name_syllabus %> (<%=syllabus_program.code_catalog_of_syllabus %>)</h1>
    <h1> <%=syllabus_program.syllabus.cycle.name %></h1>
  </div>
<div class="bloque">
  <h2><span>1.</span>DATOS GENERALES</h2>
  <table role="presentation" class="sub sangria">
    
    <tr>
      <td>1.1.Carrera:</td>
      <td>
        <%= show_career_competition(careers_competition, course) %>
      </td> 
    </tr>
    <!--<tr>
      <td>1.2. Coordinador:</td>
      <td><%#= syllabus_program.coordinator.name%></td>
    </tr> !-->
   
    <tr>
      <td>1.2. Créditos:</td>
      <td><%= syllabus_program.credits%></td>
    </tr>
    <tr>
      <td>1.3. Modalidad:</td>
      <td><%= syllabus_program.modality.name.titleize %></td>
    </tr>
    <tr>
      <td>1.4. Horas semanales:</td>
      <td><%= syllabus_program.decorate.weekly_hours_message%></td>
    </tr>
  </table>
</div>