<div class="bloque">
	<h2><span> <%= number %>. </span>UNIDADES Y LOGROS ESPECÍFICOS DE APRENDIZAJE</h2>
  <% units.try(:each_with_index) do |unit, index_unit| %>
     <table role="presentation" class="classic sangria mini">
      <tr>
        <td width="70%"><b>Unidad de aprendizaje <%= index_unit+1 %>:</b><br>
          <%= unit["title"] %>.</td>
        <td>
         Semana
         <%= show_weeks_specific_achievement_format(unit) %>
         </td>
      </tr>
      <tr>
        <td colspan="2"><b>Logro específico de aprendizaje:</b><br>
        <%= unit["achievement"]%>
        </td>
      </tr>
      <tr>
        <td colspan="2"><b>Temario:</b><br>
      <ul>
       <%= show_subject_session_specific_achievement(unit) %>
      </ul>
      </td>
      </tr>
      <% if show_link_units?(information_sources_basic, unit)%>
      <tr>
        <td colspan="2"> 
          <b> Fuentes de Información</b>
          <%= print_link_unit_source_information_by_unit(information_sources_basic, unit) %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
 
</div>      