	<div class="parrafo sangria page-break">
		<br>Tabla resumen de cronograma de actividades:
	</div>
	<table role="presentation" id="sumary_table" class="classic sangria">
		<tr>
			<td class="cell_aling_left">Semana</td>
			<%= sumary_cells_weeks_h(units) %>
		</tr>
		<tr>
			<td class="cell_aling_left" >Unidades</td>
			<%= sumary_cells_units_h(units) %>
		</tr>
		<tr>
			<td class="cell_aling_left" >Evaluaciones</td>
			<%= sumary_cells_practices_h(units)  %> 
		</tr>
	</table>

	<style type="text/css">
		
	</style>