<div class="alert alert-dismissable alert-danger" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <i class="alert-icon ion-ios-close-outline"></i>
  <div class="alert-content">
      <h3> <%= error[:title] %> </h3>
    <p> <%= error[:message] %> </p>
  </div>
</div>