 <%= form_tag("/copy_syllables/execute_copy", id: "form_copy_cycle", method: "post", remote: true) do %>
      <div class="col-md-3">
        <label for=""> De:</label>
        <%= collection_select(:copy_syllabus, :cycle_from_copy, @inactive_cycles, :id, :name, {prompt:"Selecciona un Ciclo"},{:class=>"form-control",  :required => true}) %>
      </div>
      <div class="col-md-3">
        <label for=""> A:</label> <br>
        <strong>  <%= @active_cycle.name.upcase  %>  </strong> (Ciclo Activo)
        <%= hidden_field_tag "copy_syllabus_cycle_to_copy",  @active_cycle.id %> 
      </div>
    
      <div class="col-md-2">
        <label for="">&nbsp;&nbsp;</label>
        <br>
        <button id="btn_procesar" type="submit" class="btn btn-primary"> Procesar</button>
      </div>

      <div  class="col-md-3">
        <div id="number_syllabuses">
          
        </div>
      </div>
    <% end %>

<script type="text/javascript">
  $( "#btn_procesar" ).click(function() {
    if ($("#copy_syllabus_cycle_from_copy").val()) {
      $(".spinner").fadeIn('slow');
    }
  });
  
</script>