<%= render 'admin/templates/header', title: "Copiar Silabos"%>
<%= render 'admin/templates/content' do %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' unless ( (flash[:error_hash].present?)  or (flash[:warning_hash].present?) ) %>
    </div>
    <div class="col-md-6">
       <%= render 'error_message', error: flash[:error_hash] if flash[:error_hash].present? %>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6">
      <%=  render 'warning_message', error: flash[:warning_hash]  if flash[:warning_hash].present? %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="spinner" id="spinner_show">
        <img
          width="200px" 
          src="https://cdn.dribbble.com/users/2760451/screenshots/5667639/file-transfer.gif" alt="">
          <strong id="percent_complete"> Copiando Silabos......... </strong>
      </div>
    </div>
  </div>

  
  <script>
     $(function(){
    $(".spinner").hide();
  });

  
  </script>
<% end %>

