
.app-sidebar-header {
  height: 50px;
  background:  #eef2f6;
  display: flex;
  align-items: center;
}

.label-primary {
  background-color: #4d6bb2;
}

.badge-pending{
  color: white;
  background-color: #9eb4c2;
}
.badge-in_progress{
  color: white;
  background-color: #9563df;
}
.badge-to_be_approved{
  color: white;
  background-color: #82d2ad;
}
.badge-observed{
  color: white;
  background-color: #ff8389;
}
.badge-approved{
  color: white;
  background-color: #81a8d2;
}

.btn-pdf{
  border-color: transparent;
  background-color: transparent;
}