// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$color-red: #FF0000;
$color-error : #ff8389;
$dark-gray: #4a4a4a; 
$bg-gray: #eef2f6;
$primary_color: #24a3ab;
$gray_subt: #748e98;
$information_source_bg: #f3f4f6;


// Specific
// =============================================================================
// Text
$font-color: $black;

// Link


// Selection


// Social Colors
// =============================================================================
