<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(url: collection_download_syllabus_programs_admin_index_path, html: { id: "download-syllabuses-form" }) do |form| %>
        <div class="progress-container">
          <%= image_tag 'icons/silb_arrow.svg', id:"downloading-icon"  %>
          <%= image_tag 'icons/silb_error.svg', id:"error-download-icon"  %>
          <%= image_tag 'icons/silb_success.svg', id:"success-download-icon"  %>
          <div id="download-progress-bar">
          </div>
        </div>
        <p id="download-descriptor">Estás a punto de descargar <%= @syllabuses_ids_valid.size%> sílabos</p>
        <% if @syllabuses_invalid_count > 0 %>
          <p id="additional-message-warn" class="message-download"><%= @syllabuses_invalid_count > 1 ? "#{@syllabuses_invalid_count} documentos no están disponibles para descarga." : "Un documento no está disponible para descarga"%> </p>
        <% end %>
        <p id="additional-message-info" class="message-download"></p>
        <div class="buttons-container">
          <%= form.submit 'Descargar', class: "download-button", id:"start-download-button"%>
          <button id="cancel-download-button" type="button" class="cancel-button" data-dismiss="modal"><span aria-hidden="true">Cancelar</span></button>
        </div>
        <% @syllabuses_ids_valid.each do |id| %>
          <%= form.hidden_field :syllabus_ids, id: 'syllabus-ids', multiple: true, value: id %>
        <% end %>
        
    <% end %>
    <div class="progress-actions-container"><div>
  </div>
</div>
<script type="text/javascript">
  $("#error-download-icon").hide()
  $("#success-download-icon").hide()
  $("#additional-message-info").hide();
  $(document).on('hidden.bs.modal', '#show-modal-download', function () { 
    $("#show-modal-download").remove(); 
  });
  var progressBar = new ProgressBar.Circle('#download-progress-bar', {
    strokeWidth: 6,
    easing: 'easeInOut',
    duration: 1400,
    color: '#3990f7',
    trailColor: '#979797',
    trailWidth: 6,
    svgStyle: null
  });


</script>