<div id="upload-courses-modal" class="modal fade" tabindex="-1" role="dialog">
  <%= form_with(url: update_general_achievement_syllabus_programs_admin_index_path, local: true, multipart: true, html: { id: "upload-courses-form" }) do |form| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content" data-context>
        <div class="modal-header">
          <h4 class="modal-title">Actualizar Logros</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <%= form.file_field :file, required: true, accept: ".csv" %><br/><br/>
          <!--<%= link_to "Descargar Plantilla", asset_path("Nueva_plantilla_cursos_silabos.xlsx"), class: "btn btn-primary btn-fill" %>-->
        </div>
        <div class="modal-footer">         
          <%= submit_tag "Cargar cursos", data: { disable_with: "Cargando... " }, id: "submit-courses-button", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
