<% content_for(:title, "Listado de sílabos") %>
<% toolbar(:primary) do |t| %>
  <button type="button" class="btn btn-primary btn-fill pull-right" style="margin-right: 5px;" data-toggle="modal" data-target="#upload-courses-modal">
    <i class="far fa-file-excel" aria-hidden="true"></i> Actualizar logros
  </button>
<% end %>
<%= render "show_modal" %>
<div>
  <%= render "success_import_message", result: flash[:result_hash] if flash[:result_hash].present? %>
</div>
<div>
  <%= render "error_message", error: flash[:error_hash] if flash[:error_hash].present? %>
</div>
<% content_for(:utilities) do %>
  <%= render "scopes" if admin.scopes.any? %>
  <%= link_to "Descargar silabos", show_modal_download_syllabus_programs_admin_index_path(:q => params[:q], updated_at: params[:updated_at], supervisor_id: params[:supervisor_id]), class: "show-syllabus-modal", remote: true if params[:scope].present? && params[:scope] == "approved" && @able_to_download_count > 0 %>
  <%= link_to "Descargar silabos", "", class: "show-syllabus-modal disabled-show-modal", remote: true if params[:scope].present? && params[:scope] == "approved" && @able_to_download_count == 0 %>
<% end if admin.scopes.any? %>

<%= render layout: "layout" do %>
  <header class="main-content-header">
    <div class="searchbox" style="max-width: none">
        <div class="row">
          <div class="col-md-9">
            <%= form_tag "/syllabus_programs", method: :get do %>
              <%= hidden_field_tag :scope, params[:scope] %>
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-text"><icon class="fa fa-search"></icon></span>
                    <%= link_to icon("fa fa-times"), admin.path, class: "clear-search" if params[:q].present? %>
                    <%= search_field_tag :q, params[:q], class: "form-control", autocomplete: "off", placeholder: "Ingrese el nombre o código de catálogo" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <%= text_field_tag :updated_at, params[:updated_at], id: "updated-at-filter", placeholder: "Fecha de último cambio", class: "form-control datetimepicker-input", autocomplete: "off", data: { toggle: "datetimepicker", target: "#updated-at-filter" } %>
                  </div>
                </div>
                <div class="col-md-3">
                  <%= select_tag :supervisor_id, options_for_select(User.active.with_role(ROLE_APPROVER.to_sym).map { |user| [user.name, user.id] }, params[:supervisor_id]), prompt: "Selecciona un aprobador" %>
                </div>
                <div class="col-md-2">
                  <button name="button" type="submit" class="btn btn-success"><span class="btn-label">Filtrar</span></button>
                </div>
              </div>
            <% end %>
          </div>
          <% unless params[:scope].blank? %>
            <div class="row col-md-3">
              <div class="col-md-9 offset-md-1">
                <%= select_tag :destiny_state, options_for_select(@scope_states, {}), prompt: "Selecciona el estado", required: "true", class: "custom-select" %>
              </div>
              <div class="col-md-2">
                <button name="button" type="submit" form="udpate_multiple_syllabuses" id="update-syllabus-button" class="btn btn-success" data-confirm="Seguro?"><span class="btn-label">Cambiar</span></button>
              </div>
              <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <p id="confirm-message"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="btn btn-default" id="modal-btn-no">Cancelar</button>
                      <button type="button" class="btn btn-primary" id="modal-btn-si">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </header>
  <%= form_tag "/syllabus_programs/update_states", id: "udpate_multiple_syllabuses", method: :post do %>
    <%= hidden_field_tag :selected_state, params[:selected_state] %>
    <%= hidden_field_tag "changing-states", false %>
    <% if params[:scope].present? && params[:scope] == "approved" %>
      <% if @able_to_download_count > 0 %>
        <div class="syllabuses-downloads-alert enabled-downloads row">
          <div class="ready-indication">
              <%= image_tag "icons/Icons _ Outline _ alert.svg" %>
          </div>
          <div class="message">
            <span class="spanObs"><%= @able_to_download_count %> documentos están homologados y activos. Disponibles para descarga.</span>
          </div>
        </div>
      <% else %>
        <div class="syllabuses-downloads-alert disabled-downloads row">
          <div class="ready-indication">
              <%= image_tag src = "icons/alert-observations-top@3x.png" %>
          </div>
          <div class="message">
            <span class="spanObs">Estos documentos no están homologados y/o activos. No disponibles para descarga.</span>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render "trestle/table/table", table: admin.table, collection: collection %>
  <% end %>

  <footer class="main-content-footer">
    <%= hook("resource.index.footer") %>

    <%= render "trestle/table/pagination", collection: collection, entry_name: admin.model_name %>
  </footer>
<% end %>
<script type="text/javascript">
  if ($(".datetimepicker-input").length) {
    if ("<%= !params[:updated_at].blank? %>") {
      var date = moment("<%= params[:updated_at] %>", 'DD/MM/YYYY hh:mm a').toDate();
      $(".datetimepicker-input").each(function(){
        $(this).datetimepicker({date: date, format: 'DD/MM/YYYY hh:mm a'});
      });
    }else{
      $(".datetimepicker-input").each(function(){
        $(this).datetimepicker({format: 'DD/MM/YYYY hh:mm a'});
      });
    }
    

    
  }
  
  manageUpdateSyllabusStatus();

  $("#supervisor_id").select2({theme: 'bootstrap'});
  let all_selected_check = $("thead > tr > th.select-row>input:checkbox");
  all_selected_check.change(function () {
    $("tbody > tr > td.select-row>input:checkbox").prop("checked", $(this).is(':checked'))
  })

  function manageUpdateSyllabusStatus() {
    any_checked = $("input:checkbox:checked").length > 0  
    $("#update-syllabus-button").prop('disabled', !any_checked);
    $("#destiny_state").prop('disabled', !any_checked);
  }

  $("input:checkbox").change(function(){
    manageUpdateSyllabusStatus();
  })

  $('#destiny_state').change(function() {
    var selected_state = $(this).val();
    $('#selected_state').val(selected_state);
  });

  function getConfirmData() {
    current_scope = "<%= @all_scopes[params[:scope]] %>"
    selected_state_list = $("#destiny_state")[0]
    selected_state = selected_state_list.options[selected_state_list.selectedIndex].innerHTML;
    checked_input_count = $("tbody > tr > td.select-row>input:checkbox:checked").length;
    sing_or_plur = checked_input_count > 1 ? "s." : "."
    return "Vas a modificar el estado de " + current_scope + " a "+selected_state+" en "+checked_input_count + " sílabo" + sing_or_plur
  }

  function showConfirmBox(message, cb) {
    var $modal = $('#mi-modal');
    var $btnYes = $modal.find('#modal-btn-si')
    $modal.find('#confirm-message').text(getConfirmData())
    $modal.modal();
    $btnYes.one('click', function(){
      $modal.modal('hide');
      cb(true);
    });

  }

  $(document).on('confirm', '[data-confirm]', function(e){
    var selected_state = $('#selected_state');
    var $el = $(this);
    if (selected_state.val()==="") {
      alert("Seleccione un estado destino antes de proceder con el cambio.");
      return false;
    }else{
      showConfirmBox($el.data('confirm'), function(confirmed){
        if (confirmed) {
          $('#changing-states').val(true);
          $el.data('confirm', null);
          var form = $('#udpate_multiple_syllabuses');
          form.submit();
          return true;
        }
      });
    }
    return false;
    
  });

  window.onbeforeunload = function(e) {
     checked_input_count = $("tbody > tr > td.select-row>input:checkbox:checked").length;
     changing_states = $("#changing-states").val();
     if (checked_input_count > 0 && changing_states!=="true") {
      toastr.error("Si sale de la página se perderán los sílabos seleccionados.",{showDuration: 1500});
      return "YES";
     }
  };


</script>