var newModal = $("<div id=\"show-modal-download\" class=\"modal fade\" tabindex=\"-1\" role=\"dialog\" ></div>" )
newModal.html('<%= escape_javascript render 'modal_download' %>');
newModal.appendTo( "body" );
newModal.modal();