<%# TODO: refactor to adapt template with send_email_approve_syllabus  %>

<%#= render 'sillabus_mailer/template_message' do %>
  <%# content_for :header_message do %>
    
  <%# end %>

  <%# content_for :second_image do %>
    
  <%# end %>

  <%# content_for :title do %>
    
  <%# end %>

  <%#= yield %>

  <%# content_for :button_action do %>
    
  <%# end %>
  
<%# end %>

<%= yield %>
<br><br>
<table cellpadding="0" cellspacing="0" style="width:100%; text-align: center; font-family: arial,helvetica">
 <tbody>
   
  <tr>
    <td>
      <img width="auto" height="48px" src="https://s3.amazonaws.com/silbia-bucket/mail/logo.png"/>
     
    </td>
  </tr>
  <tr>
    <td style="height: 10px">
    </td>
  </tr>
  <tr>
    <td style="color:#748E98;font-size:24px">
      <%= yield :header_message %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>

  <tr>
    <td style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-inicio.png') center top no-repeat;height: 44px">
    </td>
  </tr>

  <tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px;">
    <td style="padding: 30px 20% 0 20%;">
     <%= yield :second_image %>
    </td>
  </tr>
<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="10px">
    </td>
  </tr>

  <tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px; ">
   
    <td style="color: #4A4A4A;font-size: 18px; font-weight: bold; text-align: center;padding-top: 25px;">
     <span style="display: inline-block; width: 450px;"> 
      <%= yield :title %> 
     </span>
    </td>
  </tr>

<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="5px">
    </td>
  </tr>
  <tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px">
    <td style="color: #4A4A4A;font-size: 16px; font-weight: normal; text-align: center; padding-top: 25px;">
      <%= yield :message %>
    </td>
  </tr>

<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="30px">
    </td>
  </tr>
<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px">
    <td >
    <%= yield :button_action %>
    </td>
  </tr>

<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="50px">
    </td>
  </tr>
<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="10px">
    </td>
  </tr>

  <tr>
    <td style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-fin.png') center top no-repeat;height: 44px">
      
    </td>
  </tr>
 </tbody>
    
 
</table>