<style type="text/css">
    /* latin-ext */
    
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
</style>
<div style="background-color:#ffffff;">
<div style="width: 750px;
            padding: 40px 5.5px 95.5px 3.5px;
            background-color: #ebf1f5;
            font-family: Roboto, Helvetica, sans-serif;
            color:#2a3247;
            font-size:14px;
            line-height:24px;">
    <div style="text-align: center;"><img width="auto" height="48px" src="<%= @url_logo %>" /></div>
    <div style="background-color: #ffffff;padding: 40px;margin:40px;">
        <p style="color: #2a3247;font-size: 24px;"><b>Hola,</b><br/><%= user_name %></p>
        <p style="color: #2a3247;font-size: 24px;"><b><%= header_message %></b></p>
        <div style="margin: 16px 0 0;
                    padding: 40px 40px 50px;
                    border-radius: 4px;
                    border: solid 1px #b0c0ca;">
            <table role="presentation" style="width: 100%;">
            <%= content_for?(:prev_rows) ? yield(:prev_rows) : "" %>
                <tr>
                    <td><b>Sílabo:</b></td>
                    <td><%= @syllabus_program.name_syllabus %></td>
                </tr>
                <tr>
                    <td><b>Ciclo:</b></td>
                    <td><%= @syllabus_program.syllabus.cycle.name %></td>
                </tr>
                <tr>
                    <td><b>Modalidad:</b></td>
                    <td>
                        <span style="display: inline;
                        padding: .2em .6em .3em;
                        font-size: 75%;
                        font-weight: 700;
                        line-height: 1;
                        color: #fff;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: baseline;
                        border-radius: .25em;
                        background-color:<%= case @syllabus_program.modality_id
                                             when PRESENCIAL_CODE then "#66cac0"
                                             when SEMI_PRESENCIAL_CODE then "#b1b1fa"
                                             when VIRTUAL_CODE then "#7fc8ff"
                                             end %>;

                        "><%= @syllabus_program.modality.name %></span>
                    </td>
                </tr>
                <tr>
                    <td><b>Estado:</b></td>
                    <td>
                        <% color_state = case @syllabus_program.state
                             when TO_BE_APPROVED_STRING then "#ffc541"
                             when APPROVED_STATE_STRING then "#81d2ad"
                             when REJECTED_STATE_STRING then "#ff989c"
                             else "#81d2ad"
                             end %>
                        <span style="display: inline;
                            padding: .2em .6em .3em;
                            font-size: 75%;
                            font-weight: 700;
                            line-height: 1;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            text-transform: uppercase;
                            border-radius: .25em;
                            border: 1px solid <%= color_state %>;
                            color:<%= color_state %>;"><%= @syllabus_program.aasm.human_state %></span>
                    </td>
                </tr>
                <%= content_for?(:next_rows) ? yield(:next_rows) : "" %>
            </table>
            <hr style="color: #b0c0ca;">
            <div>
            <%= content_for?(:message) ? yield(:message) : "" %>
            </div>
            <% if content_for?(:button_admin) %>
                <%= yield(:button_admin) %>
            <% else %>
            <div style="text-align:center;margin-top: 100px;">
                <a href="<%= @url_access %>" style="display: inline-block;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                color:#ffffff;
                font-weight: bold;
                border-radius: .25rem;
                transition: color .15s;
                margin: 0 0 8px;
                padding: 10px 50px;
                background-color: #2a3247;
                text-decoration: none;" 
                >
                Revisar el Sílabo</a><br>
                <a href="<%= @url_silbia %>" style="display:inline-block;font-size: 14px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #2a3247;text-decoration: none;" >Ingresar a Silbia</a>
            </div>
            <% end %>
        </div>
    </div>

</div>
</div>