<%= render 'syllabus_mailer/template_message' do %>
  <% content_for :header_message do %>
    Tienes una observación en tu Sílabo
  <% end %>

  <% content_for :second_image do %>
    <img width="180" src="https://s3.amazonaws.com/silbia-bucket/mail/group.png"/>
  <% end %>

  <% content_for :title do %>
    <%= @title.html_safe %> 
  <% end %>

 
  <% content_for :button_action do %>
    <a href="<%= @url_access %>" style="font-size: 14px; font-weight: normal; background: #ff8389; text-align: center;height: 44px;color:white!important;text-decoration:none;padding: 8px 15px;">
     Corregir Sílabo 
    </a>
  <% end %>

<% end %>