<% content_for :message do %>
  <p>Puedes ver esta nueva solicitud haciendo clic en <b>Revisar el Sílabo</b> o búscalo en el listado de sílabos en <b>Silbia</b></a>.
  <br>Recuerda que tienes que <b>terminar la edición</b> para su aprobación.</p>
<% end %>
<%= render "syllabus_mailer/template_email",
           syllabus_program: @syllabus_program,
           user_name: @user_name,
           header_message: @title %>
  
