
<% content_for :prev_rows do %>
  <tr>
      <td><b>Solicitado por:</b></td>
      <td><%= @request_user_name %></td>
  </tr>
<% end %>
<% content_for :next_rows do %>
  <tr>
  <td><b>Motivo:</b></td>
  <td><%= @reason %></td>
  </tr>
<% end %>
<% content_for :button_admin do %>
<div style="text-align:center;margin-top: 100px;">
                <a href="<%= @url_silbia_admin %>" style="display: inline-block;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                color:#ffffff;
                font-weight: bold;
                border-radius: .25rem;
                transition: color .15s;
                margin: 0 0 8px;
                padding: 10px;
                background-color: #2a3247;
                text-decoration: none;" 
                >
                Ingresar a Silbia Administrador</a><br>
            </div>
<% end %>
<%= render "syllabus_mailer/template_email",
           syllabus_program: @syllabus_program,
           user_name: @user_name,
           header_message: @title %>
