<% content_for :message do %>
     <p>Puedes ver esta nueva solicitud haciendo clic en <b>Revisar el Sílabo</b> o búscalo en el listado de sílabos en <b>Silbia</b></a>.
      <br>Recuerda que tienes hasta <b>fecha de cierre</b> para aprobarlo.</p>
            
  <% end %>
  <% content_for :prev_rows do %>
    <tr>
        <td><b>Editor:</b></td>
        <td><%= @syllabus_program.coordinator.name %></td>
    </tr>
  <% end %>
<%= render "syllabus_mailer/template_email",
           syllabus_program: @syllabus_program,
           user_name: @user_name,
           header_message: @title %>
