<% content_for :message do %>
<p>Puedes ver esta nueva solicitud haciendo clic en <b>Revisar el Sílabo</b> o búscalo en el listado de sílabos en <b>Silbia</b></a>.</p>
<% end %>
<% content_for :prev_rows do %>
  <tr>
      <td><b>Editor:</b></td>
      <td><%= @syllabus_program.coordinator.name %></td>
  </tr>
<% end %>
<% content_for :next_rows do %>
  <tr>
      <td><b>Motivo:</b></td>
      <td>El editor necesita que le envíes nuevamente el sílabo con o sin observaciones para poder realizar un cambio.</td>
  </tr>
<% end %>

<%= render "syllabus_mailer/template_email",
           syllabus_program: @syllabus_program,
           user_name: @user_name,
           header_message: @title %>