<%# TODO: refactor template , use template_message %>
<br><br>
<table cellpadding="0" cellspacing="0" style="width:100%; text-align: center; font-family: arial,helvetica">
 <tbody>
   
  <tr>
    <td>
      <img width="auto" height="48px" src="https://s3.amazonaws.com/silbia-bucket/mail/logo.png"/>
     
    </td>
  </tr>
  <tr>
    <td style="height: 10px">
    </td>
  </tr>
  <tr>
    <td style="color:#748E98">
      ¡Tienes nuevos Sílabos!
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>

  <tr>
    <td style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-inicio.png') center top no-repeat;height: 44px">
    </td>
  </tr>

  <tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px;">
    <td style="padding: 30px 20% 0 20%;">
     <img width="180" src="https://s3.amazonaws.com/silbia-bucket/mail/mail.png"/>
    </td>
  </tr>
<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="10px">
    </td>
  </tr>

  <tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px; ">
   
    <td style="color: #4A4A4A;font-size: 18px; font-weight: bold; text-align: center;padding-top: 25px;">
     <span style="display: inline-block; width: 450px;"> <%= @title.html_safe %></span>
    </td>
  </tr>

<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="5px">
    </td>
  </tr>
  <tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px">
    <td style="color: #4A4A4A;font-size: 14px; font-weight: normal; text-align: center; padding-top: 25px;">
      <span style="display: inline-block; width: 450px;">
        <%= @message.html_safe %>
     </span>
    </td>
  </tr>

<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="30px">
    </td>
  </tr>
<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y;height: 44px">
    <td >
     <a href="<%= @url_access %>" style="font-size: 14px; font-weight: normal; background: #24A3AB; text-align: center;height: 44px;color:white!important;text-decoration:none;padding: 8px 15px;"> Revisar Sìlabo </a>
    </td>
  </tr>

<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="50px">
    </td>
  </tr>
<tr style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-cent.png') center center repeat-y">
    <td height="10px">
    </td>
  </tr>

  <tr>
    <td style="background-image: url('https://s3.amazonaws.com/silbia-bucket/mail/bg-fin.png') center top no-repeat;height: 44px">
      
    </td>
  </tr>
 </tbody>
    
 
</table>