 <div class="bloque">
	<h2><span> <%= number %>. </span>COMPETENCIAS</h2>
  <% program_course_careers = program_course.program_course_careers.select { |x| x.specific_competitions.length > 0 } %>

  <table class="classic  sangria table_colspan" >

      <tr>
        <th>Carrera</th>
        <% if program_course.general_competitions.length > 0 %>
        <th scope="col">Competencias Generales</th>
        <% end %>
        <% if program_course_careers.length > 0 && !course.for_all_career.present? %>
        <th scope="col">Competencias específicas</th>
        <% end %>
      </tr>
      
      <% if course.for_all_career.present? || program_course.specific_competitions.length == 0 %>
      <tr>
        <td> Todas las carreras </td>
        <td> <%= show_competitions(program_course.general_competitions) %>  </td>
      </tr>
      <% else %>
        <% program_course_careers.each do |program_course_career| %>
          <tr>
            <td> <%= program_course_career.career.name %>  </td>     
            <% if program_course.general_competitions.length > 0 %>   
            <td> <%= show_competitions(program_course.general_competitions) %>  </td>
            <% end %>
            <td> <%= show_competitions(program_course_career.specific_competitions) %>  </td>
          </tr>
        <% end %>
      <% end %>
      </tr>
      
    
  </table>
</div>