<div class="bloque">
			<h2><span> <%= nro %>.</span>SISTEMA DE EVALUACIÓN</h2>
			<div class="parrafo sangria">
				El cálculo del promedio final se hará de la siguiente manera:
				<div class="formula">
				 <% evaluation_systems.try(:each) do |evaluation_system| %>
				 	(<%= evaluation_system["weight"] %>%)<%= evaluation_system["type"].upcase %> 
					<%= "+" unless evaluation_systems.last == evaluation_system %>
				 <% end %>
				</div>
			</div>
			<div class="parrafo sangria">
				Donde:
			</div>
			<table class="classic sangria mini page-break ">
				<thead>
					<tr>
						<th scope="col">Tipo</th>
						<th scope="col">Descripción</th>
						<th scope="col">Semana</th>
						<th scope="col">Observación</th>
						<!--<th>Recuperable</th> -->
					</tr>
				</thead>
			  <tbody>
			  <% evaluation_systems.try(:each) do |evaluation_system| %>
					<tr>
						<td><%= evaluation_system["type"].upcase %></td>
						<td> <%= evaluation_system["description"].upcase if evaluation_system["description"].present? %> </td>
						<td><%= show_weeks_for_an_activity(sessions, evaluation_system["type"]) %></td>
						<td><%= evaluation_system["observations"] %></td>

						
					</tr>
				<% end %>
				</tbody>
			</table>
			
			<div class="parrafo sangria">
				<strong>Indicaciones sobre Fórmulas de Evaluación:</strong>
				<ol>
				  <% rules.try(:each) do |rule| %>
					 <li> <%= rule["name"] %> </li>
					<% end %>
			  </ol>
			</div>
		</div>