<div class="bloque">
	<h2><span> <%= number %>.</span>FUENTES DE INFORMACIÓN</h2>
	<div class="parrafo sangria">
		<%= render "syllabuses/pdf/list_information_sources", information_sources: information_sources_basic, subtitle: "Bibliografía Base:" %>
		
		<%= render "syllabuses/pdf/list_information_sources", information_sources: information_sources_complementary, subtitle: "Bibliografía Complementaria:" %>

	</div>
</div>