 <h2><span> <%= number %>.</span>CRONOGRAMA DE ACTIVIDADES</h2>
<table id="schedule_table" class="classic sangria mini" >
  <tr>
    <th scope="col" class="midle_cell">Unidad de aprendizaje </th>
    <th scope="col">Semana </th>
    <th scope="col">Sesión</th>
    <th scope="col" class="large_cell">Tema </th>
    <th scope="col" class="midle_cell">Actividades y evaluaciones</th>
  </tr>
  <% units.try(:each_with_index) do |unit, index_unit| %>
    <% unit["weeks"].try(:each) do |week, index_week| %>
      <% week["sessions"].try(:each) do |session, index_session| %>
      <tr style="page-break-inside: auto;">
        <td class="secCronogramaUni midle_cell">
          <b>Unidad <%= index_unit + 1 %> 
          </b><br> <%= unit["title"] %></td>
        <td class="secCronogramaSubT">
          <%= week["number_week"] %>
        </td>
        <td class="secCronogramaSubT">
          <%= session["number_session"] %> <br>
          <%= show_type_session(syllabus_program, session) %>
        </td>
        <td class="large_cell">
          <%= show_session_subject_or_type_activity(session) %>
        </td>
        <td class="midle_cell">
          <ul class="activities">
            <% session["activities"].try(:each) do |activity| %>
              <%= activities_li_helper(activity, evaluation_systems) %>
            <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
     