<div id="silabus">


	<div id="silabus">
		<div class="bloque">
			<%= wicked_pdf_image_tag("utp-logo-color.png", width: "200") %>
		</div>
		
    <%= render "syllabuses/pdf/general_data",
               syllabus_program: syllabus_program,
               careers_competition: careers_competition,
               course: course %>
		
		<%= render "syllabuses/pdf/texts_paragraph", texts: syllabus.syllabus_content["texts"], number_initial: 1 %>

		<%= render "syllabuses/pdf/units_specific_achievement",
             number: 5,
             units: syllabus.units,
             sessions: syllabus_program.sessions %>

		<%= render "syllabuses/pdf/evaluation_system",
             nro: 6,
             evaluation_systems: syllabus_program.evaluation_system_json["evaluation_system"],
             rules: syllabus_program.evaluation_rules_json["rules"],
             sessions: syllabus_program.sessions %> 

		<%= render "syllabuses/pdf/information_sources", number: 7, information_sources_basic: information_sources_basic, information_sources_complementary: information_sources_complementary %>
    <% index_comp = program_course.have_competitions ? 1 : 0 %>
    <% if index_comp > 0 %>
    <%= render "syllabuses/pdf/competitions", number: 7 + index_comp, course: course, program_course: program_course %>
    <% end %>

	 </div>

