<div class="bloque">
    <h2><span> <%= number %>. </span>UNIDADES DE APRENDIZAJE</h2>
    <% units.try(:each_with_index) do |unit, index_unit| %>
			<div class="parrafo sangria">
				Unidad de aprendizaje <%= index_unit+1 %>: <%= unit["title"].upcase %>.
			</div>
    <% end %>
</div>      