
<div id="silabus">


	<div id="silabus">
		<div class="bloque">
			<%= wicked_pdf_image_tag("utp-logo-color.png", width: "200") %>
		</div>
		
    <%= render "syllabuses/pdf/general_data",
               syllabus_program: syllabus_program,
               careers_competition: careers_competition,
               course: course %>
		
		<%= render "syllabuses/pdf/texts_paragraph", texts: syllabus.syllabus_content["texts"], number_initial: 1 %>

		<%= render "syllabuses/pdf/specific_achievement",
             number: 5,
             units: syllabus_program.program_json["units"],
             information_sources_basic: information_sources_basic %>

		<%= render "syllabuses/pdf/texts_paragraph", texts: syllabus_program.program_json["texts"], number_initial: 5 %>

		<%= render "syllabuses/pdf/evaluation_system",
             nro: 7,
             evaluation_systems: syllabus_program.evaluation_system_json["evaluation_system"],
             rules: syllabus_program.evaluation_rules_json["rules"],
             units: syllabus_program.program_json["units"] %> 

		<%= render "syllabuses/pdf/information_sources", number: 8, information_sources_basic: information_sources_basic, information_sources_complementary: information_sources_complementary %>
    <% index_comp = program_course.have_competitions ? 1 : 0 %>
    <% if index_comp > 0 %>
    <%= render "syllabuses/pdf/competitions", number: 8 + index_comp, course: course, program_course: program_course %>
    <% end %>
		<div class="bloque">
			<%= render "syllabuses/pdf/schedule_activities",
              number: 9 + index_comp,
              syllabus_program: syllabus_program,
              units: syllabus_program.program_json["units"],
              evaluation_systems: syllabus_program.evaluation_system_json["evaluation_system"] %>
              <% #= render 'syllabuses/pdf/sumary_table', units: syllabus_program.program_json["units"] %>
	 </div>
    <% if syllabus_program.has_footnote? %>
      <div style="display: block; margin-top:50px; margin-bottom:20px ">
        <hr style="width:20%;border-top:1px solid black;margin-bottom:10px; margin-left:0">
        <p style="text-align:left;margin-bottom:20px;font-weight: normal;font-size: 12px;"><%= syllabus_program.get_footnote.gsub(/\n/, "<br/>").html_safe %></p>
      </div>
    <% end %>
  </div>
</div>
