
<% texts.each_with_index do |text, index| %>
  <div class="bloque">
    <h2><span> <%= index + 1 + number_initial %>.
    </span> <%= text["title"].upcase %></h2>
    <div class="parrafo sangria">
      <%= show_text_in_html_format( text["content"] )  %>
    </div>
  </div>
<% end %>