 <h2><span> <%= number %>.</span>CRONOGRAMA DE ACTIVIDADES</h2>
<table id="schedule_table" class="classic sangria mini" >
  <tr>
    <th scope="col" class="midle_cell">Unidad de aprendizaje </th>
    <th scope="col">Semana </th>
    <th scope="col">Sesión</th>
    <th scope="col" class="large_cell">Tema </th>
    <th scope="col" class="midle_cell">Actividades y evaluaciones</th>
  </tr>
  <% units.order(:unit_number).try(:each_with_index) do |unit, index_unit| %>
    <% sessions.where(unit_id: unit.id).order(:session_number).try(:each) do |session, index_session| %>
      <% session.session_topics.order(:id).try(:each) do |session_topic, index_session_topic| %>
      <tr style="page-break-inside: auto;">
        <td class="secCronogramaUni midle_cell">
          <b>Unidad <%= index_unit + 1 %> 
          </b><br> <%= unit.title %></td>
        <td class="secCronogramaSubT">
          <%= session.week_number %>
        </td>
        <td class="secCronogramaSubT">
          <%= session.session_number %> <br>
          <%= show_type_session_description(syllabus_program, session) %>
        </td>
        <td class="large_cell">
          <%= session_topic.topic.topic.html_safe %>
        </td>
        <td class="midle_cell">
          <ul class="activities">
            <% session_topic.activities.try(:each) do |activity| %>
              <%= activities_li_helper(activity, evaluation_systems) %>
            <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    <% end %>
  <% end %>

</table>
     