<div class="bloque">
	<h2><span> <%= number %>. </span>UNIDADES Y LOGROS ESPECÍFICOS DE APRENDIZAJE</h2>
  <% units.order(:unit_number).try(:each_with_index) do |unit, index_unit| %>
     <table role="none" class="classic sangria mini">
      <tr>
        <td width="70%"><b>Unidad de aprendizaje <%= index_unit + 1 %>:</b><br>
          <%= unit["title"] %>.</td>
        <td>
         Semana
         <%= show_weeks_unit(unit, sessions) %>
         </td>
      </tr>
      <tr>
        <td colspan="2"><b>Logro específico de aprendizaje:</b><br>
        <%= unit.achievement %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><b>Temario:</b><br>
        <ul>
          <%= show_unit_topics(unit) %>
        </ul>
        </td>
      </tr>
      <% if unit.unit_information_sources.size > 0 %>
      <tr>
        <td colspan="2"> 
          <b> Fuentes de Información</b>
          <%= print_unit_information_source_by_unit(unit) %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
 
</div>      