<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>   <%= format_name_pdf_sillabus(syllabus_program) %> </title> 
    <style>
      /* Email styles need to be inline */
      table { page-break-inside:auto }
      tr    { page-break-inside:avoid; page-break-after:auto }
      thead { display:table-header-group }
      tfoot { display:table-footer-group }      
      ul { margin:0px; }
    </style>
    <!--<script src="" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
    <% #= wicked_pdf_javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js" %>
    <%= wicked_pdf_javascript_include_tag "jquery3.3.1.min" %>
    
    <%= wicked_pdf_stylesheet_link_tag "export" %>
    <%= wicked_pdf_javascript_include_tag "jquery.rowspanizer" %> 

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" " rel="stylesheet">
    </head>

  <body>
  <div class="container">
    <%= render "/syllabuses/pdf/summarized_syllabus", syllabus_program: syllabus_program, syllabus: syllabus, course: course, information_sources_basic: information_sources_basic, information_sources_complementary: information_sources_complementary, careers_competition: careers_competition, program_course: program_course %>
  </div>

  <script type="text/javascript">
     $(".table_colspan").rowspanizer({
        vertical_align: 'middle'
      });

      $("#schedule_table").rowspanizer({
        vertical_align: 'middle',
        columns: [0,1]
      });
  </script>
   
    <% #= partial_por_tipo_reporte(@tipo_reporte) %>
    <% #= render 'reportes/partial/script_oculta_columnas_desde_input' %>
  </body>
</html>
