// This file may be used for providing additional customizations to the Trestle
// admin. It will be automatically included within all admin pages.
//
// For organizational purposes, you may wish to define your customizations
// within individual partials and `import` them here, e.g.
//
//

@import "trestle/custom/dashboard_style";
@import "toastr/toastr";
@import "tempusdominus-bootstrap-4";

.syllabuses-downloads-alert{
  border-radius: 2px;
  //height: 48px;
  min-height: 48px;
  max-height: 107px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 0 8px;

  .message{
    margin: auto 0;
    max-width: 95.666667%;
    padding-left: 8px;
  }
  .spanObs {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
  }

  .ready-indication{
      padding-left: 8px;
      margin: auto 0;
      img{
        width: 24px;
        height: 24px;
      }
  }
}

.enabled-downloads{
  background-color: #43c889;
}

.disabled-downloads{
  background-color: #ff8389;
}

#show-modal-download{
  .modal-content{
    padding:20px 40px
  }
  .progress-container{
    margin: 40px auto 40px auto;
    position: relative;
    width: 160px;
    height: 160px;

    img{
      position: absolute;
    }
  }
  #downloading-icon, #error-download-icon, #success-download-icon{
    width:57px;
    height:57px;
    top: 52px;
    left: 52px;
  }

}

.show-syllabus-modal{
  width: 180px;
  height: 40px;
  border-radius: 3px;
  background-color: #24a3ab;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  padding: 8px 16px;
  text-align: center;
}
.show-syllabus-modal:hover{
  background-color: #219ba3;
  color:white;
  text-decoration: none;
}
.show-syllabus-modal.disabled-show-modal{
  background-color: #e6edf2;
  color: #adb7c4;
  cursor: not-allowed;
  pointer-events: none;
}

#updated-at-filter{
  padding: .375rem .75rem;
}

.syllabus-name-header{
  display:flex; 
  align-items:center
}

.authorized-icon{
  margin: 0 15px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.unauthorized-icon{
  margin: 0 9px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

#download-progress-bar {
  margin: 32px auto;
  width: 160px;
  height: 160px;
}

#download-descriptor{
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  width: 280px;
  margin: 0 auto 16px;
}

.not-available-download{
  width: 368px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ff8389;
}

.message-download{
  width: 368px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4a4a4a;
}

#additional-message-info, #additional-message-warn{
  text-align: center;
  margin: 0 auto 24px;
}

.download-button{
  width: 176px;
  height: 32px;
  background-color: #24a3ab;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 8px;
}

.buttons-container *{
  display: block;
  margin-bottom: 8px;
}

.cancel-button{
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #24a3ab;
  width: 176px;
  height: 32px;
  border-radius: 3px;
  border: solid 1px #00a6ad;
  margin: 0 auto 8px;
}

.icon-next {
  float: left;
  position: relative;
}

.icon-next > .alert-icon{
	font-size: 25px
}

.errors-list-content{
	margin-top: 0px;
  margin-left: 45px;	
}

#submit-courses-button, #submit-users-button{
	vertical-align: top;
}

.custom-loading-spinner{
	display:inline-block;
	margin-right: 15px;
}

.sk-chase {
  width: 30px;
  height: 30px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  float: right;
  margin-left: 10px;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #4d6bb2;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

#modal-btn-no.btn-default:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.select-row>input[type=checkbox]{
  height: 20px;
  width: 20px;
  position: relative;
}

.select-row>input[type=checkbox]:after{
  content: '\00D7';
  display: block;
  background: white;
  background-image: url('https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-32.png');
  pointer-events: none;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  color: transparent;
  transition: .25s all ease-in-out;
  border-radius: 3px;
  line-height: 20px;
  background-position: 0 15px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-width: 1px;
  border-style: solid;
  border-color: #5D5D5D;
}
.select-row>input[type=checkbox]:checked:after {
  background-color: #24a3aa;
  background-position: 0 0;
}
.select-row>input[type=checkbox]:hover:after{
  border-color: #24a3aa;
}



