<%= form_with(model: doc_template, local: true) do |form| %>
  <% if doc_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doc_template.errors.count, "error") %> prohibited this doc_template from being saved:</h2>

      <ul>
      <% doc_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type_of_template %>
    <%= form.text_field :type_of_template %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
