<p id="notice"><%= notice %></p>

<h1>Doc Templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type of template</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_templates.each do |doc_template| %>
      <tr>
        <td><%= doc_template.name %></td>
        <td><%= doc_template.type_of_template %></td>
        <td><%= doc_template.is_active %></td>
        <td><%= link_to 'Show', doc_template %></td>
        <td><%= link_to 'Edit', edit_doc_template_path(doc_template) %></td>
        <td><%= link_to 'Destroy', doc_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doc Template', new_doc_template_path %>
