<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doc_template.name %>
</p>

<p>
  <strong>Type of template:</strong>
  <%= @doc_template.type_of_template %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @doc_template.is_active %>
</p>

<%= link_to 'Edit', edit_doc_template_path(@doc_template) %> |
<%= link_to 'Back', doc_templates_path %>
