<div class="main-content-area">
    <div class="main-content-container">
      <div class="main-content">
        <div class="form-group">
          <%= yield %>
        </div>
      </div>
    </div>
</div>