<header class="content-header">
  <div class="content-header-title">
    <h1>
      <%= title %>
    </h1>

    <%# <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/cycles">Cycles</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="/cycles/new">New Cycle</a>
        </li>
    </ol> %>
  </div>
<%# 
  <div class="content-header-toolbars">
    <div class="btn-toolbar primary-toolbar">
      <button name="button" type="submit" class="btn btn-success"><span class="btn-label">Save Cycle</span></button>
      
    </div>

    <div class="btn-toolbar secondary-toolbar">
      
      
    </div>
  </div> %>
</header>