// ==========================================================================
// Elements / Forms
// ==========================================================================

form,
input {
  font-family: $font-family;
}

input,
select,
textarea {
//   display: block;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   outline: 0;
//   border: 0;
//   border-radius: 0;
//   background: none transparent;
//   color: inherit;
//   font: inherit;
//   line-height: normal;
//   appearance: none;
}

label{
    margin-bottom: 0;
}

select {
  text-transform: none;
  &::-ms-expand {
    display: none;
  }
  &::-ms-value {
    background: none;
    color: inherit;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
}

textarea{
    outline-color: #ccd6dc;
    &.form-control{
        height: 9.5rem;
    }
    &:focus{
        outline-color: #ccd6dc;
        border: 1px solid #4a4a4a;
        box-shadow: none;
    }
    &:disabled{
        &::placeholder{
            color: transparent;
        }
    }
}

.form-control{
    outline-color: #ccd6dc;
    &:focus{
        outline-color: #ccd6dc;
        border: 1px solid #4a4a4a;
        box-shadow: none;
    }
    &:disabled{
        &::placeholder{
            color: transparent;
        }
    }
}
input{
    outline-color: #ccd6dc;
    &:focus{
        outline-color: #ccd6dc;
        border: 1px solid #4a4a4a;
        box-shadow: none;
    }
    &:disabled{
        &::placeholder{
            color: transparent !important;
        }
    }
}

input[type="checkbox"]{
    appearance: none;
    height: 16px;
    width: 16px;
    position: relative;
    border: solid 1px #ccd6dc;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    &:focus{
        outline: 0;
    }
    &:checked{
        border: 0;
        &::after{
            font-family: "icomoon";
            content: "\e903";
            font-size: 10px;
            background: $primary_color;
            color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
        }
    }
}

.form-control {
    border-radius: 2px;
  }