h1 {
	font-size: 24px;
	color: $dark-gray;
	font-weight: bold;
	font-family: Lato;
}

h2 {
	font-size: 20px;
	color: $dark-gray;
	font-weight: bold;
	font-family: Lato;
}

h3 {
	font-size: 18px;
	color: $gray_subt;
	font-weight: bold;
	font-family: Lato;
}

h4 {
	font-size: 16px;
	color: $dark-gray;
	font-family: Lato;
	font-weight: bold;
}

h5{
	font-size: 14px;
	font-weight: bold;
}

.text{
	font-size: 16px;
	font-family: Lato;
}
.small{
	font-size: 14px;
	font-family: Lato;
}

.extra-small{
	font-size: 12px;
	font-family: Lato;
}