@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icons/icomoon.eot?j5vtl9');
    src:  url('/fonts/icons/icomoon.eot?j5vtl9#iefix') format('embedded-opentype'),
      url('/fonts/icons/icomoon.ttf?j5vtl9') format('truetype'),
      url('/fonts/icons/icomoon.woff?j5vtl9') format('woff'),
      url('/fonts/icons/icomoon.svg?j5vtl9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-add:before {
    content: "\e900";
  }
  .icon-alert:before {
    content: "\e901";
  }
  .icon-change:before {
    content: "\e902";
  }
  .icon-check:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-coment:before {
    content: "\e905";
  }
  .icon-cross:before {
    content: "\e906";
  }
  .icon-down:before {
    content: "\e907";
  }
  .icon-drag:before {
    content: "\e908";
  }
  .icon-edit:before {
    content: "\e909";
  }
  .icon-eye:before {
    content: "\e90a";
  }
  .icon-link:before {
    content: "\e90b";
  }
  .icon-lock:before {
    content: "\e90c";
  }
  .icon-logout:before {
    content: "\e90d";
  }
  .icon-mail:before {
    content: "\e90e";
  }
  .icon-menu:before {
    content: "\e90f";
  }
  .icon-minus:before {
    content: "\e910";
  }
  .icon-rewind:before {
    content: "\e911";
  }
  .icon-save:before {
    content: "\e912";
  }
  .icon-search:before {
    content: "\e913";
  }
  .icon-send:before {
    content: "\e914";
  }
  .icon-spinner:before {
    content: "\e915";
  }
  .icon-trash:before {
    content: "\e916";
  }
  .icon-user:before {
    content: "\e917";
  }
  .icon-exclamation:before{
    content: "\e9ac";
  }