/* Horizontal li*/
ul.list_horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  ul.list_horizontal li {
      float: left;
  }
  
  ul.list_horizontal li  {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  ul.list_horizontal li:last-child{
    float: right;
    vertical-align: middle;
    max-width: 60px;;
  }
  
.list-horizontal{
  padding-left: 20px;
  &--wo-type{
    list-style: none;
    padding: 0;
  }
}