body{
    font-family: $font-family-primary, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $bg-gray;
    font-family: Lato;
    font-size: 14px;
    font-weight: $regular;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #748e98;
}