// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "toastr/toastr";
@import "syllabuses";
@import "export";

//setting
@import "settings/colors";
@import "settings/config";

//tools
@import "tools/columns";
@import "tools/grid";

//generic
@import "generic/normalize";

//elements
@import "elements/icons";
@import "elements/forms";
@import "elements/headings";
@import "elements/images";
@import "elements/list"; 
@import "elements/page";

//object
@import "objects/grid";
@import "objects/ratio";

//utilities 
@import "utilities/reset";
@import "utilities/align";
@import "utilities/container";
@import "utilities/spacing";



.shadow {
  box-shadow: 1px 5px 8px -4px rgba(0, 0, 0, 0.2) !important;
}
.rounded {
  border-radius: 0.65rem !important;
}

.box-gray{
  background-color: $bg-gray;
}


.badge-primary{
  background-color: $primary_color;
}
/*-- estilos nuevos --*/


.foot_button{
    position:fixed;
    width:100%;
    background:#4A4A4A;
    z-index: 2;
    opacity:0.9;
    left:0px;
    bottom:0px;
    margin:0px;
    padding:1em 20em 1em 1em;
    text-align: center;
}

/*--silabus --*/


.table_information_source{
  text-align: center;
 thead tr th {
   text-align:center;
 } 
 tbody tr td, tbody tr th{
   padding: 4px;
 }
 tbody tr td span{
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 40px;
  background-color: $information_source_bg;
  border-radius: 2px;
  border: 1px solid #d4dce0;
  text-align: justify;
  color: #748e98;
  max-width: 248px;
  padding: 8px 8px 8px 16px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}  
tbody tr td input{
  color: #748e98;
  font-size: 14px;
}
 
} 

/**-- login --**/
body .center-div{
    width: 480px;
  padding:0;
}


body .center-div .card{
border:none;
margin:35px;
}

body .center-div .card .row{
  height:65px;
}

body .center-div .card .form-inputs label{
  color: #4a4a4a;
  font-size: 11px;
  
}

body .center-div .card .form-inputs input.form-control{
background-color:white;
    -webkit-box-shadow: 0 0 0 30px white inset;
  
}

body .center-div .card .form-actions input{
  border:none;
  padding:5px 0px;
  width:100%;
}
.container{
  margin-bottom:100px;
  margin-top: 60px;
}
.container--sidebar{
  margin-left: 232px;
  margin-bottom: 148px;
  margin-top: 60px;
  transition: all .3s ease;
  &.is-hidden{
    margin-left: 0;
  }
}
.container--footer{
  margin-bottom: 0;
}
.container .container{
	margin-top:0px;
	margin-bottom:0px;
}
.silabus__content__container{
  margin-left: 190px;
  padding:0 10px
}

.silabus__content{
  margin: 0 auto;
  max-width: 1140px;
}
.dashboardhead{
  margin:120px 0 30px 0;
}
.row .col-md-1{
  text-align:left;
  padding-left:0px;
}

.row .col-md-1 h3{  
	font-size: 24px;
	font-weight: bold;
	color: #4a4a4a;
  text-align:left;
}
 

.cont-resultados .badge.badge-dark{
	  width: 32px;
  height: 16px;
  border-radius: 8px;
  background-color: #ccd6dc;
  color:#4a4a4a;
  margin-top:2px;
  float:right;
}
.container .card.contlist{
border:none;
background:none;
}

.container .card.contlist .table th, .container .table thead th,.container .contlist .table td{
  border:none;
}
.table thead tr th{
  text-align:left;
}
.container .card.contlist tbody {
  background-color : white;
  border-radius: 0px;
  box-shadow: 0 10px 10px -10px #748e98;
}
.container .card.contlist tbody tr{
  height:20px;
  text-align:left;
}
.container .card.contlist tbody tr:first-child{
}

.container .card.contlist tbody tr td{
  vertical-align:center;
  font-size: 14px;
  text-align:left;
  vertical-align:middle;
}
.container .contlist .card-body{
  padding:0px;
}

.container .card.contlist thead{  font-size: 14px;
  font-weight: bold;color: #4a4a4a;}

.state{
  text-transform: capitalize;
}

#nav2{
  background:white;
  width:100%;
  border-top:solid 2px #e5e9eb;
    box-shadow: 0 10px 10px -10px #9b9b9b;
  height:32px;

}

#nav2 .int{
height:32px;
width:70%;
margin:0 15%;
  vertical-align:middle;
}





nav .breadcrumb {
  margin-bottom:0px;
}

.v-select .dropdown-toggle .clear {
  display: none;
}

#silabus-app-view {
  .card {
    border: 0;
  }
}

.title-dark {
  font-weight: bold;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.nav_top_header{
  background: $primary_color;
  width:100%;
  border-top:solid 2px #e5e9eb;
  box-shadow: 0 10px 10px -10px #9b9b9b;
  font-family: Lato;
  height:50px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}





input.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

/* form invalid class */
.was-validated .form-control:invalid, .form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #ff8389;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #ff8389;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

input[disabled], input[readonly], select[disabled], select[readonly], input[type=checkbox][disabled], input[type=checkbox][readonly], textarea[disabled], textarea[readonly]
{
background-color: #eef2f6;
cursor: not-allowed;
} 

input::placeholder {
  color:  #ccd6dc !important;
}