@media print {
    @page {
        size: auto;
        /* auto is the current printer page size */
        margin: 100px 70px;
        /* this affects the margin in the printer settings */
    }
}

body {
    font-family: "Lato";
    margin: 0;
}

#silabus {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 10px;
}

#silabus .bloque {
    margin: 25px 0 15px 0px;
}

#silabus h1 {
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0px;
}

#silabus h2 {
    font-size: 15px;
    text-align: left;
}

#silabus h2 span {
    width: 3%;
    display: inline-block;
}

#silabus table.sub {
    width: 100%;
    font-size: 14px;
    text-align: left!important;
    font-weight: normal;
}

#silabus table.sub th,
#silabus table.sub tr,
#silabus table.sub td {
    padding: 5px 0;
    vertical-align: top;
}

#silabus table.classic {
    border-collapse: collapse;
    padding: 0px;
    width: 100%;
    margin: 10px 0;
    font-weight: normal;
    font-size: 14px;
    text-align: left!important;
}

#silabus table.classic th {
    font-weight: bold;
    vertical-align: middle;
}

#silabus table.classic th,
#silabus table.classic tr,
#silabus table.classic td {
    border: solid black 1px;
    padding: 10px;
}

#silabus table.classic tr,
#sillabus table.classic td {
    vertical-align: top;
}

.classic .check {
    background: #939193 !important;
}

#silabus .sangria {
    width: 97%!important;
    margin-left: 3%!important;
}

.parrafo {
    text-align: justify;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    text-align: justify;
}

.parrafo .formula {
    font-weight: bold;
    width: 100%;
    height: 20px;
    text-align: center;
    margin: 15px 0;
}

#silabus .mini {
    font-size: 14px!important;
}

.secCronogramaUni {
    vertical-align: middle;
    text-align: left;
}

.secCronogramaSubT {
    vertical-align: middle;
    text-align: center;
}


/* .page-break {
	display:block; clear:both; page-break-before:always;
}
*/


/* table, tr, td, th, tbody, thead, tfoot {
	page-break-inside: auto !important;
} 
*/


/* to fix overrite text in table page */

thead {
    display: table-header-group
}

tfoot {
    display: table-row-group
}

tr {
    page-break-inside: avoid
}

ul.activities {
    margin: 10px;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.no_list {
    list-style-type: none;
}

#sumary_table tr td {
    text-align: center;
}

#sumary_table tr td.cell_aling_left {
    text-align: left;
}

.large_cell {
    min-width: 300px;
    max-width: 300px;
}

.midle_cell {
    min-width: 150px;
    max-width: 200px;
}

.title_sillabus {
    font-size: 20px;
    font-weight: bold;
    display: block;
}