// Place all the styles related to the syllabuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field-legend{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
