<%#= devise_error_messages! %>
<% flash.each do |key, value| %>
    <div class="Login__error"><%= value.sub! 'Email', 'Correo' %></div>
    <% class_form = unless value.include?("Signed out successfully")   then "is-invalid" else "" end %>
    
    <script type="text/javascript"  data-turbolinks-track="reload" >
      document.addEventListener("turbolinks:load", function() {
         $("input").addClass("<%= class_form%>");
       });
    </script>
    
<% end %>


